<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">&copy; Amir Drljevic</span>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <a href="https://www.linkedin.com/in/amirdrljevic/" target="_blank" class="text-muted me-4">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="mailto:amirdrljevic@gmail.com" class="text-muted">
        <i class="fas fa-envelope"></i> amirdrljevic@gmail.com
      </a>
    </div>
  </footer>
</div>
