// Colors
$dark-grey: #343a40;
$light-grey: #999999;
$mid-grey: #323435;
$very-light-grey: #5f606138;
$lighter-grey: #5f60619f;
$black: #000033;
$background-grey: #212529;
$highlight-blue: #a5b1be;
$border-blue: #9aafe5;
$header-bgd: #dfc6c6;

// Spacings
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 30px;

// Borders
$standard-border-radius: 7px;
$standard-border: 1px solid;
